<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iCarousel_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84A15B2A1CFEB0A3006D604C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A15B431CFEB0A4006D604C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A15B4E1CFEB0A4006D604C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
